<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
        {% include 'partials/logo.html' %}
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>
  {% endif %}

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <!-- Dashboards -->
    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        <span class="badge bg-danger rounded-pill ms-auto">1</span>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'index' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Analytics</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Records -->
    <li class="menu-item {% if '/college/' in request.path or '/student/' in request.path or '/orgmember/' in request.path or '/organizations/' in request.path or '/program/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-database-line"></i>
        <div class="text-truncate" data-i18n="Records">Records</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/college/' in request.path %}active{% endif %}">
          <a href="javascript:void(0);" class="menu-link">
            <div class="text-truncate" data-i18n="College">College</div>
          </a>
        </li>
        <li class="menu-item {% if '/student/' in request.path %}active{% endif %}">
          <a href="javascript:void(0);" class="menu-link">
            <div class="text-truncate" data-i18n="Student">Student</div>
          </a>
        </li>
        <li class="menu-item {% if '/orgmember/' in request.path %}active{% endif %}">
          <a href="javascript:void(0);" class="menu-link">
            <div class="text-truncate" data-i18n="Org Member">Org Member</div>
          </a>
        </li>
        <li class="menu-item {% if '/organizations/' in request.path %}active{% endif %}">
          <a href="javascript:void(0);" class="menu-link">
            <div class="text-truncate" data-i18n="Organizations">Organizations</div>
          </a>
        </li>
        <li class="menu-item {% if '/program/' in request.path %}active{% endif %}">
          <a href="javascript:void(0);" class="menu-link">
            <div class="text-truncate" data-i18n="Program">Program</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Account Settings -->
    <li class="menu-item {% if '/account_settings/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div class="text-truncate" data-i18n="Account Settings">Account Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/account/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-account' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Account">Account</div>
          </a>
        </li>
        <li class="menu-item {% if '/notifications/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-notifications' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Notifications">Notifications</div>
          </a>
        </li>
        <li class="menu-item {% if '/connections/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-connections' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Connections">Connections</div>
          </a>
        </li>
      </ul>
    </li>

  </ul>
</aside>
